body {
  background-color: #ebebeb;
}

h1.yellow_title{
  color: #ffcc00;
  font-size: 50px;
}
p.white_p{
  color: #ffffff;
}

.box1{background-color: #22c7e8; height: 50px;}
.box2{background-color: #27ffa9; height: 80px;}
.box3{background-color: #a58993; height: 100px;}